<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome to your portfolio Veronica!</h1>
		<p>You have successfully signed up in heroku for your portfolio! Yay! <br>
		Winning!</p>
		<p>Get yourself logged in at this link: <%= @url %></p>
	</body>
</html>